In [1]:
import pandas as pd

In [10]:
csv = pd.read_csv("time.csv")

In [11]:
csv

   operation      time
0      write  0.000003
1      write  0.000003
2      write  0.000003
3      write  0.000003
4      write  0.000004
5      write  0.000003
6      write  0.000003
7      write  0.000003
8      write  0.000003
9      write  0.000003
10     write  0.000003
11     write  0.000003
12     write  0.000003
13     write  0.000003
14     write  0.000003
15     write  0.000003
16     write  0.000003
17     write  0.000003
18     write  0.000003

In [16]:
csv["time"].std()

2.294157338705617e-07

In [20]:
csv["time"].mean()

3.052631578947368e-06